@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
	--color-background: #a8b7d9;
	--color-primary: #e2e2e2;
	--color-primary-faded: #e2e2e2e5;
	--color-secondary: #4d474f;
	--color-screen: #586283;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Poppins", sans-serif;
}
body {
	background-color: var(--color-background);
}
.calculator-grid {
	background-color: var(--color-secondary);
	border-radius: 20px;
	display: grid;
	margin: 100px auto;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);
	width: 450px;
	height: 675px;
	box-shadow: 15px 15px 30px #332f34, inset -5px -5px 12px #3e393f,
		inset 5px 5px 12px #5c555f;
}

.calculator-grid > button {
	cursor: pointer;
	font-size: 2rem;
	font-weight: 600;
	color: var(--color-secondary);
	margin: 5px;
	font-family: "Poppins", sans-serif;

	border-radius: 15px;
	background: linear-gradient(145deg, #f2f2f2, #cbcbcb);
	box-shadow: 3px 3px 10px #1f1c20, -3px -3px 10px #7b727e;
}

.calculator-grid > button:hover {
	background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
	grid-column: span 2;
}
.calculator-grid > button.clear {
	background: linear-gradient(145deg, #e6bb67, #c29e56);
	color: #1f1c20;
}
.calculator-grid > button.delete {
	background: linear-gradient(145deg, #ff8080, #e66c6c);
	color: #1f1c20;
}
.calculator-grid > button.equals {
	background: linear-gradient(145deg, #acc68f, #91a779);
	color: #1f1c20;
}
.calculator-grid > button[data-operation] {
	background: linear-gradient(145deg, #addbdb, #92b9b9);
	color: #1f1c20;
}
.output {
	grid-column: 1 / -1;
	background-color: var(--color-screen);
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	flex-direction: column;
	padding: 15px 40px 10px;
	margin-bottom: 20px;
	word-wrap: break-word;
	word-break: break-all;
	border-radius: 15% 15% 15% 15% / 80% 80% 80% 80%;
	font-weight: 500;
	max-height: 100px;
	box-shadow: inset 5px 5px 23px #272b3a, inset -5px -5px 23px #8999cc;
}

.output .previous-operand {
	color: var(--color-primary-faded);
	font-size: 1.25rem;
	line-height: 1.25rem;
	overflow: hidden;
}

.output .current-operand {
	color: var(--color-primary);
	font-size: 2.25rem;
	line-height: 2.5rem;
	overflow: hidden;
}
