@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
	--color-background: #a8b7d9;
	--color-primary: #e2e2e2;
	--color-primary-faded: #e2e2e2e5;
	--color-secondary: #4d474f;
	--color-screen: #586283;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "Poppins", sans-serif;
}
body {
	background-color: var(--color-background);
}
.calculator-grid {
	background-color: var(--color-primary);
	border-radius: 20px;
	display: grid;
	margin: 100px auto;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);
	width: 450px;
	height: 675px;
}

.calculator-grid > button {
	cursor: pointer;
	font-size: 2rem;
	font-weight: 600;
	border: 1px solid white;
	outline: none;
	background-color: var(--color-secondary);
	color: var(--color-primary);
	border-radius: 15px;
	margin: 5px;
	font-family: "Poppins", sans-serif;
}

.calculator-grid > button:hover {
	background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
	grid-column: span 2;
}
.output {
	grid-column: 1 / -1;
	background-color: var(--color-screen);
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	flex-direction: column;
	padding: 15px 40px 10px;
	margin-bottom: 20px;
	word-wrap: break-word;
	word-break: break-all;
	border-radius: 15% 15% 15% 15% / 80% 80% 80% 80%;
	font-weight: 500;
	max-height: 100px;
}

.output .previous-operand {
	color: var(--color-primary-faded);
	font-size: 1.25rem;
	line-height: 1.25rem;
	overflow: hidden;
}

.output .current-operand {
	color: var(--color-primary);
	font-size: 2.25rem;
	line-height: 2.5rem;
	overflow: hidden;
}
